src/com/chargepartner/hubject/ws/WSDL/eRoamingEvseData_V2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-.--><wsdl:definitions targetNamespace="http://www.hubject.com/b2b/services/evsedata/v2.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsc="http://www.hubject.com/b2b/services/evsedata/v2.0" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:cmn="http://www.hubject.com/b2b/services/commontypes/v2.0">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.hubject.com/b2b/services/evsedata/v2.0" schemaLocation="RelatedSchemas/eRoamingEvseData_V2.0.xsd"/>
       <xs:import namespace="http://www.hubject.com/b2b/services/commontypes/v2.0" schemaLocation="RelatedSchemas/eRoamingCommonTypes_V2.0.xsd"/>	 
    </xsd:schema>
  </wsdl:types>
   <wsdl:message name="eRoamingPullEvseData">
    <wsdl:part name="parameters" element="wsc:eRoamingPullEvseData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="eRoamingEvseDataRecord">
    <wsdl:part name="parameters" element="wsc:eRoamingEvseDataRecord">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="eRoamingEvseData">
    <wsdl:part name="parameters" element="wsc:eRoamingEvseData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="eRoamingPushEvseData">
    <wsdl:part name="parameters" element="wsc:eRoamingPushEvseData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="eRoamingGetEvseById">
    <wsdl:part name="parameters" element="wsc:eRoamingGetEvseById">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="eRoamingAcknowledgement">
    <wsdl:part name="parameters" element="cmn:eRoamingAcknowledgement">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EvseDataPortType">
    <wsdl:operation name="eRoamingPushEvseData">
      <wsdl:input name="eRoamingPushEvseData" message="wsc:eRoamingPushEvseData">
    </wsdl:input>
      <wsdl:output name="eRoamingAcknowledgementPushEvseData" message="wsc:eRoamingAcknowledgement">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eRoamingPullEvseData">
      <wsdl:input name="eRoamingPullEvseData" message="wsc:eRoamingPullEvseData">
    </wsdl:input>
      <wsdl:output name="eRoamingEvseData" message="wsc:eRoamingEvseData">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eRoamingGetEvseById">
      <wsdl:input name="eRoamingGetEvseById" message="wsc:eRoamingGetEvseById">
    </wsdl:input>
      <wsdl:output name="eRoamingEvseDataRecord" message="wsc:eRoamingEvseDataRecord">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EvseDataBinding" type="wsc:EvseDataPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="eRoamingPushEvseData">
      <wsdlsoap:operation soapAction="eRoamingPushEvseData"/>
      <wsdl:input name="eRoamingPushEvseData">
        <wsdlsoap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="eRoamingAcknowledgementPushEvseData">
        <wsdlsoap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eRoamingPullEvseData">
      <wsdlsoap:operation soapAction="eRoamingPullEvseData"/>
      <wsdl:input name="eRoamingPullEvseData">
        <wsdlsoap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="eRoamingEvseData">
        <wsdlsoap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eRoamingGetEvseById">
      <wsdlsoap:operation soapAction="eRoamingGetEvseById"/>
      <wsdl:input name="eRoamingGetEvseById">
        <wsdlsoap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="eRoamingEvseDataRecord">
        <wsdlsoap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>